# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. C++
4. C
5. Java

Some of the commonly used libraries used by Data Scientists include:
- ggplot2
- tensorflow
- dplyr
- tidyverse
- numpy
- matplotlib
- pandas

|<center> Data Science Tools </center>|
|--------------------|
|<center>  RStudio </center> |
|<center> Visual Studio Code </center> |
|<center> Jupyter Notebook </center> |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
m_to_h = 200/60
print(f'200 minutes is equal to {m_to_h} hours.')

200 minutes is equal to 3.3333333333333335 hours.

**Objectives:**
+ List popular languages for Data Science
+ Evaluating arithmetic expressions
+ Commonly used libraries

## Author
Yiming Li